* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* CORES DO PROJETO */
  --main-red: #e3646e;
  --main-purple: #bb72e9;
  --main-blue: #3996db;
  --main-green: #82bc4f;
  --main-yellow: #eabd5f;

  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;

  /* FONTES DO PROJETO */
  /* Asap Font */
  --font-family-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-family-asap);
  --title-md: 700 24px/120% var(--font-family-asap);
  --title-sm: 700 16px/120% var(--font-family-asap);
  /* Incosolata Font */
  --font-family-inconsolata: "Inconsolata", monospace;
  --subtitle: 400 20px/120% var(--font-family-inconsolata);
  /* Maven Pro Font */
  --font-family-mavenpro: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-family-mavenpro);
  --text-sm: 400 14px/140% var(--font-family-mavenpro);
}

body {
  background: var(--Base-gray-200, #16181d);
}

.container {
  max-width: 1360px;
  padding-inline: 32px;
  margin-inline: auto;
}


* a:hover {
  color: var(--main-blue);
}
