info {
  padding-block: 120px 94px;
  place-items: center;
  background: url(../assets/bg/Background_Intro.png) no-repeat center/cover;

  header {
    padding-bottom: 80;
    place-items: center;

    .avatar {
      position: relative;
      box-sizing: border-box;
      img {
        margin-bottom: 56px;
        border: 2px solid var(--main-red);
        padding: 4.36px;
        border-radius: 50%;
      }
      .code {
        position: absolute;
        background: url(../assets/Code.png) no-repeat;
        inset: 0;
        top: 48%;
        left: 65%;
      }
    }

    h1 {
      color: var(--Base-gray-600, #e2e4e9);
      font: --title-lg;
      padding-block: 8px 20px;
    }

    h2 {
      color: var(--Base-gray-500, #c0c4ce);
      font: var(--subtitle);
      span {
        color: var(--Main-Red, #e3646e);
      }
    }

    p {
      color: var(--Base-gray-400, #878ea1);
      font: --text-sm;
      width: 680;
    }
  }

  nav {
    display: flex;
    gap: 16px;
    padding-bottom: 94px;

    span {
      display: flex;
      align-items: center;
      

      background-color: var(--gray-300);
      border: 1px solid var(--gray-300);
      border-radius: 999px;
      gap: 8px;
      padding: 8px 16px;

      img {
        height: 24px;
        width: 24px;
      }
      strong {
        color: var(--Base-gray-500, #C0C4CE);
        font: var(--text-sm);
      }
    }
  }
}
